{% load static %}

<footer class="py-3 m-0" style="background-color:#313B44">

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="footer-list-item">
            <a href="{% url 'index' %}" class="footer-item px-2 text-body-secondary;" style="color: white">Home</a>
        </li>
        <li class="footer-list-item">
            <a href="{% url 'login' %}" class="footer-item px-2 text-body-secondary;" style="color: white">SignIn</a>
        </li>
        <li class="footer-list-item">
            <a href="{% url 'signup' %}" class="footer-item px-2 text-body-secondary;" style="color: white">SignUp</a>
        </li>
        <li class="footer-list-item">
            <a href="{% url 'ask' %}" class="footer-item px-2 text-body-secondary;" style="color: white">Ask</a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-item px-2 text-body-secondary;" style="color: white">Settings</a>
        </li>
    </ul>

    <p class="text-center text-body-secondary;"  style="color: white">© 2024 VK education</p>
</footer>